:root {
  /* Font family */
  --ff-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', sans-serif;

  /* Font sizes */
  --fs-heading-icon: 10rem;
  --fs-heading-welcome: 2.5rem;
  --fs-error-message: 1.7rem;
  --fs-card-text-main: 1.1rem;
  --fs-card-text-secondary: 1.03rem;
  --fs-form: 1rem;

  /* Colors */
  --clr-body-bg: #274c44;
  --clr-body-gradient-light: #4f867a;
  --clr-body-gradient-dark: #1e3b34;
  --clr-border-main: #10181754;
  --clr-card-border: #1b2a29;
  --clr-card-shadow: #0508084b;
  --clr-card-text-main: #19322d;
  --clr-card-text-secondary: #374f4a;
  --clr-form-bg: #0923208e;
  --clr-spinner: #ceffec;
  --clr-spinner-bg: rgba(255, 255, 255, 0.3);
  --clr-orange: #ff9812;
  --clr-yellow-200: #fffde2;
  --clr-yellow-400: #fffab8;
  --clr-yellow-600: #fff898;
}

html,
body,
main {
  block-size: 100vh;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-body-bg);
  background-image: linear-gradient(
    to bottom left,
    var(--clr-body-gradient-light),
    var(--clr-body-gradient-light),
    var(--clr-body-gradient-dark)
  );
}

main {
  box-shadow: inset 0 0 0 10px var(--clr-border-main);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading-icon {
  font-size: var(--fs-heading-icon);
  margin-block-start: -200px;
  margin-block-end: 1.7rem;
}

.heading-welcome {
  color: var(--clr-yellow-600);
  font-size: var(--fs-heading-welcome);

  span {
    color: var(--clr-orange);
  }
}

.error-message {
  color: var(--clr-yellow-600);
  font-size: var(--fs-error-message);
  font-style: italic;
}

/* CAT CARDS */
.cat_container {
  margin-block-start: -80px;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 50px;

  position: relative;
}

/* Main card */
.cat {
  max-inline-size: 370px;
  color: var(--clr-card-text-main);
  background-color: rgb(217, 245, 238);
  font-size: var(--fs-card-text-main);
  border: 4px solid var(--clr-card-border);
  border-radius: 4px;
  box-shadow: -10px 14px 18px 4px var(--clr-card-shadow);
  overflow: hidden;

  .breed {
    text-align: center;
    letter-spacing: 0.4px;
  }

  .stats-list {
    list-style: none;
    padding: 3.125rem 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 22px;

    .stat span {
      font-weight: 600;
    }
  }
}

/* Secondary card */
.cat_info {
  max-inline-size: 340px;
  block-size: fit-content;
  background-image: linear-gradient(
    to bottom left,
    rgb(217, 245, 238),
    rgb(190, 229, 219)
  );
  border: 4px solid var(--clr-card-border);
  border-radius: 4px;
  box-shadow: -10px 14px 18px 2px var(--clr-card-shadow);
  padding: 4.375rem 2.5rem;
  margin-block: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;

  .cat-icon {
    display: block;
    max-inline-size: 50px;
    max-block-size: auto;
  }

  .info {
    color: var(--clr-card-text-secondary);
    font-size: var(--fs-card-text-secondary);
    font-style: italic;
    line-height: 1.5;
  }
}

/* FORM SEARCH BREED */
.form_search-cat {
  background-color: var(--clr-form-bg);
  border-radius: 20px;
  padding: 0.875rem;

  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);

  #search-cat {
    background-color: var(--clr-yellow-200);
    max-inline-size: 500px;
    font-size: var(--fs-form);
    border: none;
    border-radius: 10px;
    padding: 0.625rem;
  }

  .btn_search-cat {
    background-color: var(--clr-yellow-600);
    font-size: var(--fs-form);
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 0.625rem 3.125rem;
  }

  .btn_search-cat:hover {
    background-color: var(--clr-yellow-400);
    cursor: pointer;
  }
}

/* Loading spinner */
.spinner {
  display: none;
  inline-size: 60px;
  block-size: 60px;
  border: 4px solid var(--clr-spinner-bg);
  border-top: 4px solid var(--clr-spinner);
  border-radius: 50%;

  position: absolute;
  top: 42%;
  left: 48.4%;
  transform: translate(-50%, -50%);

  animation: loadSpin 1s linear infinite;
}

@keyframes loadSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
